.headerSimpleImg{
width: 100%;
height: 450px;
object-fit: cover;
object-position: top;
}
.mxWdtext{
max-width: 800px;
width: 100%;
padding: 0 15px;
margin: 0 auto;
text-align: center;
}
.contactSection{
padding-top: 50px;
}
.sctionMdTitle{
padding-bottom: 20px;
}
.contactBoxsSection{
background-color: #f6f6f6;
padding: 50px 0px;
margin-bottom: 60px;
}
.contactBox{
padding: 24px 40px;
}
.textFlexBar{
display: flex;
align-items: center;
gap: 10px;
text-decoration: none;
}
.textFlexBar .contact-icon{
width: 34px;
height: 34px;
object-fit: contain;
}
.contactBox h5{
color: #3f3f3f;
font-size: 26px;
font-weight: 500;
}
.contactBox .textFlexBar p{
color: #136DAE;
margin: 0;
font-weight: 500;
font-size: 26px;
}
.contactBox.bdr{
border-left: 1px solid #3f3f3f;
border-right: 1px solid #3f3f3f;
}
.AddressArea{
display: flex;
}
.addressBox{
width: 50%;

}
.addressBoxContent{
background-color: #f6f6f6;
height: 100%;
max-height: 430px;
}
.addressBoxContent iframe{
width: 100%;
height: 100%;
}
.addressBoxContent{
padding:50px 30px 50px 50px;   
}
.addressBoxContent.pad-0{
padding: 0px;
}
.addressSection{
margin-bottom: 80px;
}
.cntInptField{
border-radius: 2px;
height: 44px;  
border: 1px solid #eeeeee;
padding-left: 15px;
font-size: 14px;
}
.cntInptField::-ms-input-placeholder { /* Edge 12-18 */
color: #5d5d5d;
font-size: 12px;
}
.cntInptField::placeholder {
color: #5d5d5d;
font-size: 12px;
}
.cntInptField.textareaField{
height: 100px;
}
.fillBtn{
background-color: #136DAE;
color: #fff;
border: 0px;
box-shadow: 0px 3px 5px #00000052;
transition: 0.3s ease;
border: 1.5px solid #136DAE;
}
.fillBtn:hover{
box-shadow: unset;
background-color: unset;
color: #136DAE;
border: 1.5px solid #136DAE;
}
.submitBtn{
width: 140px;
height: 40px;
display: block;
margin-left: 10px;
margin-top: 20px;
}
.addressBoxHead{
text-align: center;
}
.addressBoxHead h4{
color: #136DAE;
font-size: 24px;
font-weight: 500;
}
.addressBoxHead p{
color:#3f3f3f ;
font-size: 16px;
}
/* #FAQAccordion .accordion-button{
font-size: 20px;
font-weight: 500;
}
#FAQAccordion{
border: 0px;   
}
#FAQAccordion .accordion-item {
border: 0px;   
}
#FAQAccordion .accordion-item .accordion-button{
box-shadow: unset;
border-radius: 0px;
padding: 14px 0px;
}
#FAQAccordion .accordion-item .accordion-collapse{
border-bottom:1px solid #3f3f3f ;  
}
#FAQAccordion .accordion-item .accordion-button:hover{
color: #136DAE;
}
#FAQAccordion .accordion-item .accordion-button[aria-expanded="true"]{
background-color: unset;
color: #136DAE;
} */

.faqSection{
margin-top: 60px;
margin-bottom: 60px;
}
.fillBtn.submitBtn.btn{
font-size: 12px;   
}
.sectionBanner .row{
background: #f6f6f6;
align-items: center;
padding: 40px 20px;
border-radius: 30px;
}
.sectionBanner{
margin-bottom: 60px;
}
.bnrTitle{
color: #3f3f3f;
font-size: 22px;
font-weight: 600;
}
.fillBtn.contactBtn{
width: 180px;
font-size: 12px;
height: 44px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 0px;

}
.accordion-button:not(.collapsed) {
color: black;
background-color: white;
}
.faqSearchBar{
position: relative;
margin-bottom: 50px;
}
.searchIcon{
font-size: 20px;
}
.searchInputField{
    width: 100%;
    height: 54px;
    border: 1px solid #b5b5b5;
    outline: none;
    background-color: #fff;
    padding: 0px 146px 0px 20px;
    
}
.searchBtn{
width: 140px;
display: flex;
align-items: center;
justify-content: center;
gap: 12px;
height: 46px;
border: 0px;
font-size: 14px;
font-weight: 700;
background-color: #136DAE;
color: #fff;
position: absolute;
right: 4px;
top: 4px;
text-transform: uppercase;
box-shadow: 0px 0px 5px #00010269;
}

/* Wizard page css start */
.wizardFormArea{
    padding: 40px 0px 100px;
}
.progress-bar-wrapper {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .wizardFormArea progress {
    width: 100%;
    height: 10px;
    border-radius: 50px;
    background-color: #e5e5ed;
    transition: width 300ms ease;
  }
 .wizardFormArea progress[value]::-webkit-progress-bar {
    width: 100%;
    height: 10px;
    border-radius: 50px;
    background-color:#e5e5ed;
    transition: width 300ms ease;
  }
  .wizardFormArea progress[value]::-webkit-progress-value {
    width: 0;
    border-radius: 50px;
    background-color: #117bb9;
    transition: width 300ms ease;
  }

.radioInputBar [type="radio"]:checked,
.radioInputBar [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radioInputBar [type="radio"]:checked + label,
.radioInputBar [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: #666;
}
.radioInputBar [type="radio"]:checked + label:before,
.radioInputBar [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 24px;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.radioInputBar [type="radio"]:checked + label:after,
.radioInputBar [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/check-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    position: absolute;
    top: 27px;
    left: 23px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radioInputBar [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.frmLabelBtn:hover  label:after {
opacity: 1;
}
.radioInputBar [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.frmLabelBtn{
  display: block;
  background-color: #fff;
  border: 2px solid #e5e7eb;
  width: 100%;
  padding: 25px 10px 25px 60px;
  font-size: 18px !important;
  border-radius: 15px;
  color: #000 !important;
  font-weight: 500 !important;
  margin-bottom: 20px;
}
.frmLabelBtn:hover{
  border: 2px solid #117bb9;
}
.wizardTitle{
  font-size: 26px;
  color: #000;
  font-weight: 700;
  margin-bottom: 60px;
}
.wizardBtnsBar{
  display: flex;
  margin-top: 80px;
  gap: 30px;
}
.wzBrdBtn{
  padding:16px 40px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  font-weight: 600;
  color: #000;
}
.wzFillBtn{
  background-color: #000;
}
.wzFillBtn{
  padding: 16px 40px;
  border: 0px ;
  color:#fff;
  border-radius: 4px;
}
.formstep{
  margin-top: 30px;
}
.selectField{
  display: block;
  background-color: #fff;
  border: 2px solid #e5e7eb;
  width: 100%;
  padding: 20px 10px 20px 20px;
  font-size: 18px !important;
  border-radius: 10px;
  color: #000 !important;
  font-weight: 500 !important;
  margin-bottom: 20px;
}
.inputBar{
  position: relative;
}
.labelText{
  font-size: 18px;
  color: #000 !important;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
}
.wzInput{
  display: block;
  background-color: #fff;
  border: 2px solid #e5e7eb;
  width: 100%;
  padding: 18px 10px 18px 20px;
  font-size: 16px !important;
  border-radius: 10px;
  color: #000 !important;
  font-weight: 400 !important;
  margin-bottom: 5px;
}
.wzInput::-ms-input-placeholder { /* Edge 12-18 */
  color: #d0d0d1;
  font-weight: 500;
}

.wzInput::placeholder {
  color: #d0d0d1;
  font-weight: 500;
}
.inputNmbText{
position: absolute;
top: 16px;
right: 10px;
display: block;
width: fit-content;
background: #fff;
font-size: 16px;
padding: 4px 5px;
font-weight: 600;
}
.inputUsetText{
font-size: 12px;
color: #000  !important;
font-weight: 400;
}
.inputPackage .form-control {
width: 100%;
height: 60px;
border: 2px solid #e5e7eb !important;
border-radius: 10px !important;
font-size: 16px;
padding-left: 60px;
}
.inputPackage .flag-dropdown {
background-color: unset !important;
border: 0px !important;
}
.inputPackage .react-tel-input .flag-dropdown.open .selected-flag, 
.inputPackage .react-tel-input .selected-flag:hover, 
.inputPackage .react-tel-input .selected-flag:focus{
  background-color: unset  !important;
}
.inputPackage .react-tel-input .flag-dropdown{
left: 15px;
}
.dateInput{
  font-weight: 500  !important;
}
.formstep.stepNone {
display: none;
}
.formstep.active{
display: block;
}
/* Wizard page css start */